extends ./layout/index

block  contenido 
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg" alt="imagen sobre nosotros" class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote  Donec ullamcorper quam felis, quis consectetur ipsum dictum a. Aliquam pellentesque sollicitudin elit, ut maximus erat tincidunt in. Quisque tristique nec diam eget sollicitudin. Phasellus iaculis vitae ante eget porta. In vestibulum quam et faucibus gravida. Sed rutrum, nibh in rutrum dictum, orci tortor cursus purus.ctus quis. Integer pulvinar mi quis sapien dictum, et iaculis sapien rhoncus. 

                p Curabitur ornare velit vitae neque consequat, eget iaculis nunc luctus. Quisque at tempor justo, ac venenatis nunc. Fusce condimentum eros id diam volutpat rutrum. Cras ac imperdiet elit. Vestibulum blandit purus id leo viverra lacinia vel ut nisl. Pellentesque ex mi, viverra semper mauris nec, tristique semper purus. Fusce et ornare purus. Etiam aliquam nec mi vel semper. Nam eget ultrices diam, nec elementum ipsum.


                p  Curabitur libero enim, rhoncus nec mauris at, condimentum placerat ipsum. Curabitur et massa velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nisl tellus, fringilla ac tellus vitae, maximus dictum metus. Vestibulum molestie libero cursus mollis dictum. 

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg" alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4  Seguridad
                    p  condimentum placerat ipsum. Curabitur et massa velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pellentesque sollicitudin elit, ut maximus erat tincidunt in.


                .col-md-4
                    img(src="img/icono_destinos.svg" alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p  condimentum placerat ipsum. Curabitur et massa velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pellentesque sollicitudin elit, ut maximus erat tincidunt in.


                .col-md-4
                    img(src="img/icono_PRECIOS.svg" alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p  condimentum placerat ipsum. Curabitur et massa velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pellentesque sollicitudin elit, ut maximus erat tincidunt in.